{% extends "layout.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                Login
            </h1>
            <form method="post">
                <div class="form-group">
                    <label for="username" class="label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required autofocus>
                </div>
                <div class="group">
                    <label for="password" class="label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}