<script setup>
import InputError from "@/Components/InputError.vue";
import InputLabel from "@/Components/InputLabel.vue";
import {useForm} from "@inertiajs/vue3";

const emit = defineEmits(['selection-changed']);

const props = defineProps(['defensive_moves']);

const form = useForm({
    defensive_moves: {
        defensive_move1: props.defensive_moves[0].id,
        defensive_move2: props.defensive_moves[0].id,
        defensive_move3: props.defensive_moves[0].id,
        defensive_move4: props.defensive_moves[0].id,
        defensive_move5: props.defensive_moves[0].id,
        defensive_move6: props.defensive_moves[0].id,
    }
});

const emitSelection = () => {
    emit('selection-changed', form.defensive_moves);
}
</script>
<template>
    <fieldset class="border border-gray-300 p-2 rounded">
        <legend class="text-lg font-bold">Defensive Moves</legend>
        <InputLabel for="defensive_move1" value="1st Defensive Move" />
        <select v-model="form.defensive_moves.defensive_move1" @change="emitSelection" id="defensive_move1" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in defensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.defensive_move1" class="mt-1" />
        <InputLabel for="defensive_move2" value="2nd Defensive Move" />
        <select v-model="form.defensive_moves.defensive_move2" @change="emitSelection" id="defensive_move2" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in defensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.defenseive_move2" class="mt-1" />
        <InputLabel for="defensive_move3" value="3rd Defensive Move" />
        <select v-model="form.defensive_moves.defensive_move3" @change="emitSelection" id="defensive_move3" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in defensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.defensive_move3" class="mt-1" />
        <InputLabel for="defensive_move4" value="4th Defensive Move" />
        <select v-model="form.defensive_moves.defensive_move4" @change="emitSelection" id="defensive_move4" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in defensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.defensive_move4" class="mt-1" />
        <InputLabel for="defensive_move5" value="5th Defensive Move" />
        <select v-model="form.defensive_moves.defensive_move5" @change="emitSelection" id="defensive_move5" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in defensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.defensive_move5" class="mt-1" />
        <InputLabel for="defensive_move6" value="6th Defensive Move" />
        <select v-model="form.defensive_moves.defensive_move6" @change="emitSelection" id="defensive_move6" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in defensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.defensive_move6" class="mt-1" />
    </fieldset>
</template>
