<script setup>
import InputError from "@/Components/InputError.vue";
import InputLabel from "@/Components/InputLabel.vue";
import {useForm} from "@inertiajs/vue3";

const emit = defineEmits(['selection-changed']);

const props = defineProps(['offensive_moves']);

const form = useForm({
    offensive_moves: {
        offensive_move1: props.offensive_moves[0].id,
        offensive_move2: props.offensive_moves[0].id,
        offensive_move3: props.offensive_moves[0].id,
        offensive_move4: props.offensive_moves[0].id,
        offensive_move5: props.offensive_moves[0].id,
        offensive_move6: props.offensive_moves[0].id,
    }
});

const emitSelection = () => {
    emit('selection-changed', form.offensive_moves);
}
</script>
<template>
    <fieldset class="border border-gray-300 p-2 rounded">
        <legend class="text-lg font-bold">Offensive Moves</legend>
        <InputLabel for="offensive_move1" value="1st Offensive Move" />
        <select v-model="form.offensive_moves.offensive_move1" @change="emitSelection" id="offensive_move1" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in offensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.offensive_move1" class="mt-1" />
        <InputLabel for="offensive_move2" value="2nd Offensive Move" />
        <select v-model="form.offensive_moves.offensive_move2" @change="emitSelection" id="offensive_move2" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in offensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.offensive_move2" class="mt-1" />
        <InputLabel for="offensive_move3" value="3rd Offensive Move" />
        <select v-model="form.offensive_moves.offensive_move3" @change="emitSelection" id="offensive_move3" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in offensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.offensive_move3" class="mt-1" />
        <InputLabel for="offensive_move4" value="4th Offensive Move" />
        <select v-model="form.offensive_moves.offensive_move4" @change="emitSelection" id="offensive_move4" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in offensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.offensive_move4" class="mt-1" />
        <InputLabel for="offensive_move5" value="5th Offensive Move" />
        <select v-model="form.offensive_moves.offensive_move5" @change="emitSelection" id="offensive_move5" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in offensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.offensive_move5" class="mt-1" />
        <InputLabel for="offensive_move6" value="6th Offensive Move" />
        <select v-model="form.offensive_moves.offensive_move6" @change="emitSelection" id="offensive_move6" class="mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
            <option v-for="move in offensive_moves" :key="move.id" :value="move.id">
                {{ move.name }}
            </option>
        </select>
        <InputError :message="form.errors.offensive_move6" class="mt-1" />
    </fieldset>
</template>
