<template>
    <AppLayout title="My Characters">
            <div class="grid row mt-5">
                <div class="col-span-6 m-auto">
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h1 class="text-center mb-3">
                            <i aria-hidden="true"></i>  Characters
                        </h1>
                        <div v-if="characters.length === 0">
                            <p>You have no characters, why not create a new character?</p>
                            <Link :href="route('characters.create')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" role="link" title="Create a new character">Create a new character</Link>
                        </div>
                        <table v-else class="table-auto border-spacing-2 text-center">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Active</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="character in characters" :key="character.id">
                                <th scope="row">{{ character.name }}</th>
                                <td><span v-if="character.active">X</span></td>
                                <td>
                                    <Link :href="route('characters.show', {character: character})" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500">Show</Link>&nbsp;
                                    <Link v-if="!character.active" @click="switchCharacter(character.id)" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500">Make active</Link>&nbsp;
                                    <Link v-if="!character.active" @click="deleteCharacter(character.id)" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500">Delete</Link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </AppLayout>
</template>
<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import {Link} from "@inertiajs/vue3";
import Swal from "sweetalert2";

defineProps(['characters']);

const switchCharacter = (characterId) => {
    fetch(`/characters/${characterId}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({})
    })
        .then(response => {
            if (response.ok) {
                // Handle success, maybe update the UI
                Swal.fire({
                    title: 'Info!',
                    text: 'Character switched successfully!',
                    icon: 'success',
                    confirmButtonText: 'Ok'})
                    .then(() => {
                        window.location.reload(); // Reload the page to reflect changes
                })
            } else {
                // Handle error
                Swal.fire({
                    title: 'Error!',
                    text: 'Failed to switch character.',
                    icon: 'error',
                    confirmButtonText: 'Ok'})
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                title: 'Error!',
                text: 'Failed to switch character.',
                icon: 'error',
                confirmButtonText: 'Ok'})
        });
}

const deleteCharacter = (characterId) => {
    Swal.fire({
        title: 'Warning',
        text: 'Do you wish to delete the character?',
        icon: 'warning',
        showCancelButton: true,
        cancelButtonColor: '#ff0000',
        confirmButtonText: 'Delete',
        confirmButtonColor: '#7066e0',
        reverseButtons: true,
        focusConfirm: false
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`/characters/${characterId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                body: JSON.stringify({})
            })
                .then(response => {
                    if (response.ok) {
                        // Handle success, maybe update the UI
                        Swal.fire({
                            title: 'Info!',
                            text: 'Character deleted successfully!',
                            icon: 'success',
                            confirmButtonText: 'Ok'})
                            .then(() => {
                                window.location.reload(); // Reload the page to reflect changes
                        })
                    } else {
                        // Handle error
                        Swal.fire({
                            title: 'Error!',
                            text: 'Failed to delete character.',
                            icon: 'error',
                            confirmButtonText: 'Ok'})
                    }
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Failed to delete character.',
                        icon: 'error',
                        confirmButtonText: 'Ok'})
                    console.error('Error:', error);
                });
        } else {
            Swal.fire({
                title: 'Info!',
                text: 'Character deletion cancelled successfully.',
                icon: 'info',
                confirmButtonText: 'Ok'})
        }
    });
}
</script>
