<template>
    <AppLayout title="My Character">
            <div class="grid row mt-5">
                <div class="col-span-6 m-auto">
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h1 class="text-center mb-3">
                            <i aria-hidden="true"></i>  Character Stats
                        </h1>
                        <table class="table-auto border-spacing-2 text-center">
                            <tr>
                                <th scope="col">Name</th>
                                <td>{{ character.name }}</td>
                            </tr>
                            <tr>
                                <th scope="col">XP</th>
                                <td>{{ character.xp }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Rank</th>
                                <td v-if="character.rank.image">
                                    <img :src="baseUrl+`${character.rank.image}`" :alt=character.rank.name :title="`${character.rank.name}`" width="64" height="64">
                                </td>
                                <td v-else>{{ character.rank.name }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Wins</th>
                                <td>{{ character.wins }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Loses</th>
                                <td>{{ character.loses }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Draws</th>
                                <td>{{ character.draws }}</td>
                            </tr>
                            <tr v-if="user.id === character.id">
                                <th scope="col">Active</th>
                                <td><span v-if="character.active">X</span></td>
                            </tr>
                            <tr v-if="user.id === character.id">
                                <th scope="col">Options</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    </AppLayout>
</template>
<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";

const baseUrl = "/storage/";

defineProps(['user', 'character']);
</script>
