<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import Container from "@/Components/Container.vue";
import InputError from "@/Components/InputError.vue";
import InputLabel from "@/Components/InputLabel.vue";
import TextInput from "@/Components/TextInput.vue";
import {useForm} from "@inertiajs/vue3";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import OffensiveMovesFieldset from "@/Pages/Duels/Partials/OffensiveMovesFieldset.vue";
import DefensiveMovesFieldset from "@/Pages/Duels/Partials/DefensiveMovesFieldset.vue";

const props = defineProps(['offensive_moves', 'defensive_moves']);

const form = useForm({
    opponent: '',
    offensive_move1: props.offensive_moves[0].id,
    offensive_move2: props.offensive_moves[0].id,
    offensive_move3: props.offensive_moves[0].id,
    offensive_move4: props.offensive_moves[0].id,
    offensive_move5: props.offensive_moves[0].id,
    offensive_move6: props.offensive_moves[0].id,
    defensive_move1: props.defensive_moves[0].id,
    defensive_move2: props.defensive_moves[0].id,
    defensive_move3: props.defensive_moves[0].id,
    defensive_move4: props.defensive_moves[0].id,
    defensive_move5: props.defensive_moves[0].id,
    defensive_move6: props.defensive_moves[0].id,
});

const submit = () => {
    form.transform(data => ({
        ...data,
    })).post(route('duels.store'));
};

const handleSelectionChangeOffensive = (offensive_moves) => {
    form.offensive_move1 = offensive_moves.offensive_move1
    form.offensive_move2 = offensive_moves.offensive_move2
    form.offensive_move3 = offensive_moves.offensive_move3
    form.offensive_move4 = offensive_moves.offensive_move4
    form.offensive_move5 = offensive_moves.offensive_move5
    form.offensive_move6 = offensive_moves.offensive_move6
}

const handleSelectionChangeDefensive = (defensive_moves) => {
    form.defensive_move1 = defensive_moves.defensive_move1
    form.defensive_move2 = defensive_moves.defensive_move2
    form.defensive_move3 = defensive_moves.defensive_move3
    form.defensive_move4 = defensive_moves.defensive_move4
    form.defensive_move5 = defensive_moves.defensive_move5
    form.defensive_move6 = defensive_moves.defensive_move6
}
</script>

<template>
    <AppLayout title="Create Duel">
            <div class="grid row mt-5">
                <div class="col-span-6 m-auto">
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <container>
                        <h1 class="text-center mb-3">
                            <i aria-hidden="true"></i>  Issue Challenge
                        </h1>
                            <form @submit.prevent="submit">
                                <fieldset class="border border-gray-300 p-2 rounded">
                                    <legend class="text-lg font-bold">Opponent</legend>
                                    <InputLabel for="opponent" value="Opponent to issue challenge" />
                                    <TextInput
                                        id="name"
                                        v-model="form.opponent"
                                        type="text"
                                        class="mt-1 block w-full"
                                        minlength="4"
                                        maxlength="15"
                                        required
                                        autofocus
                                        autocomplete="name"
                                    />
                                    <InputError class="mt-2" :message="form.errors.opponent" />
                                </fieldset>
                                <OffensiveMovesFieldset @selection-changed="handleSelectionChangeOffensive" :offensive_moves="props.offensive_moves" />
                                <DefensiveMovesFieldset @selection-changed="handleSelectionChangeDefensive" :defensive_moves="props.defensive_moves" />
                                <PrimaryButton class="ms-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Submit
                                </PrimaryButton>
                            </form>
                        </container>
                    </div>
                </div>
            </div>
    </AppLayout>
</template>
