<template>
    <AppLayout title="My Duels">
            <div class="grid row mt-5">
                <div class="col-span-6 m-auto">
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <container>
                        <h1 class="text-center mb-3">
                            <i aria-hidden="true"></i>  Open Home Duels
                        </h1>
                        <div v-if="home_duels.data.length === 0">
                            <p>You have no duels, why not challenge someone?</p>
                            <Link :href="route('duels.create')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" role="link" title="Create a new character">Create a new character</Link>
                        </div>
                        <table v-else class="table-auto border-separate border-spacing-4">
                            <thead>
                            <tr>
                                <th scope="col">Opponent</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="duel in home_duels.data" :key="duel.id">
                                <td>{{ duel.opponent.name }}</td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            <Pagination v-if="home_duels.data.length > 0" :meta="home_duels.meta" :only="['home_duels']" class="mt-2" />
                        </container>
                        <container>
                        <h1 class="text-center mb-3">
                            <i aria-hidden="true"></i>  Open Away Duels
                        </h1>
                        <div v-if="away_duels.data.length === 0">
                            <p>You have not been challenge by anyone</p>
                        </div>
                        <table v-else class="table-auto border-separate border-spacing-4">
                            <thead>
                            <tr>
                                <th scope="col">Challenger</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="duel in away_duels.data" :key="duel.id">
                                <td>{{ duel.challenger.name }}</td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            <Pagination v-if="away_duels.data.length > 0" :meta="away_duels.meta" :only="['away_duels']" class="mt-2" />
                        </container>
                        <container>
                            <h1 class="text-center mb-3">
                                <i aria-hidden="true"></i>  Completed Duels
                            </h1>
                            <div v-if="completed_duels.data.length === 0">
                                <p>You have not completed any duels</p>
                            </div>
                            <table v-else class="table-auto border-separate border-spacing-4">
                                <thead>
                                <tr>
                                    <th scope="col">Challenger</th>
                                    <th scope="col">Opponent</th>
                                    <th scope="col">Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="duel in completed_duels.data" :key="duel.id">
                                    <td>{{ duel.challenger.name }}</td>
                                    <td>{{ duel.opponent.name }}</td>
                                    <td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <Pagination v-if="completed_duels.data.length > 0" :meta="completed_duels.meta" :only="['completed_duels']" class="mt-2" />
                        </container>
                    </div>
                </div>
            </div>
    </AppLayout>
</template>
<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import Container from "@/Components/Container.vue";
import Pagination from "@/Components/Pagination.vue";
import {Link} from "@inertiajs/vue3";

defineProps(['home_duels', 'away_duels', 'completed_duels']);
</script>
