<template>
    <AppLayout title="No Active Characters">
            <div class="grid row mt-5">
                <div class="col-span-6 m-auto">
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h1 class="text-center mb-3">
                            <i aria-hidden="true"></i>  No Active Characters
                        </h1>
                        <p>You currently have no active characters. Please select an existing character and change its status to active, or create a new one and try again.</p>
                        <Link :href="route('characters.index')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" role="link" title="Select a character and change its status to active">Select Character And Change Status To Active</Link>
                        <br /><br />
                        <Link :href="route('characters.create')" class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" role="link" title="Create a new character">Create New Character</Link>
                    </div>
                </div>
            </div>
    </AppLayout>
</template>
<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import {Link} from "@inertiajs/vue3";
</script>
